
  <div class="note_block">
    <div class="note" id="note">
      <textarea
        cols="30"
        tabindex="17"
        wrap="soft"
        autocomplete="false"
        v-model="data.note"
        placeholder="Введите заметку"
      ></textarea>
    </div>
  </div>

  <div class="buttons">
    <button class="button" @click="addApplication" v-if="data.id == 'new'">
      Добавить заявку
    </button>
    <button class="button" @click="updateApplication" v-else>
      Сохранить
    </button>
  </div>
</div>
<table class="add_request" data-row="table">
  <tr>
    <th>№</th>
    <th>Наименование</th>
    <template v-if="statusInclud()">
      <th>Размер</th>
      <th>Кол-во</th>
    </template>
    <template v-else>
      <th>Ширина</th>
      <th>Длина</th>
      <th>Кол-во</th>
      <th>Ед. изм.</th>
      <th>РРЦ</th>
    </template>
    <th>Цена</th>
    <th>Сумма</th>
    <template v-if="statusInclud()">
      <th>Поставщик</th>
      <th>Зак. цена</th>
      <th>Закуп</th>
    </template>
  </tr>
  <template v-if="data.productList.linoleum.length">
    <tr v-for="product in data.productList.linoleum" :key="product.key">
      <td class="key" @click="removeProduct(product.key)">
        <span>{{ product.key }}</span>
        <img src="./../../assets/images/interface/close.png" alt="" />
      </td>
      <td class="name">{{ product.product }}</td>
      <template v-if="statusInclud()">
        <td>
          {{ product.width.select + " x " + product.len }}
        </td>
        <td>
          {{
            (product.len * product.width.select)
              .toFixed(2)
              .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
          <span v-html="product.ei"></span>
        </td>
      </template>
      <template v-else>
        <td>
          <select
            @change="editPurchasePrice()"
            v-model="product.width.select"
          >
            <option
              v-for="width in product.width.all"
              :key="width"
              :value="width"
            >
              {{ width }}
            </option>
          </select>
        </td>
        <td>
          <input
            tabindex="17"
            type="text"
            @focus="$event.target.select()"
            v-model="product.len"
            @keydown.prevent.enter="nextInput($event)"
          />
        </td>
        <td>
          {{
            (product.len * product.width.select)
              .toFixed(2)
              .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
        </td>
        <td v-html="product.ei"></td>
        <td>{{ product.price.rrc.selected }}</td>
      </template>

      <td>
        <input
          @keydown.prevent.enter="nextInput($event)"
          class="price"
          tabindex="18"
          type="text"
          @focus="$event.target.select()"
          v-model="product.price.fact"
        />
      </td>
      <td>
        {{
          (product.price.fact * product.len * product.width.select)
            .toFixed(2)
            .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        }}
      </td>
      <template v-if="statusInclud()">
        <td>
          <select
            @change="
              product.purchase_price = product.purchase_price_list.filter(
                (item) =>
                  item.id_provider == $event.target.value &&
                  item.width == product.width.select
              )[0].purchase_price
            "
            v-model="product.provider"
          >
            <option
              v-for="item in product.providers"
              :key="item.id"
              :value="item.id"
            >
              {{ item.name }}
            </option>
          </select>
        </td>
        <td>
          <input
            type="text"
            tabindex="19"
            @focus="$event.target.select()"
            @keydown.prevent.enter="nextInput($event)"
            v-model="product.purchase_price"
          />
        </td>
        <td>
          {{
            (product.purchase_price * product.len * product.width.select)
              .toFixed(2)
              .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
        </td>
      </template>
    </tr>
  </template>
  <template v-if="data.productList.plinth.length">
    <tr v-for="product in data.productList.plinth" :key="product.key">
      <td class="key" @click="removeProduct(product.key)">
        <span>{{ product.key }}</span>
        <img src="./../../assets/images/interface/close.png" alt="" />
      </td>

      <template v-if="statusInclud()">
        <td colspan="2" class="name">{{ product.product }}</td>
        <td>{{ product.col_vo }} <span v-html="product.ei"></span></td>
      </template>
      <template v-else>
        <td colspan="3" class="name">{{ product.product }}</td>
        <td>
          <input
            @keydown.prevent.enter="nextInput($event)"
            @focus="$event.target.select()"
            type="text"
            tabindex="17"
            v-model="product.col_vo"
          />
        </td>
        <td v-html="product.ei"></td>
        <td>{{ product.price }}</td>
      </template>

      <td>
        <input
          @keydown.prevent.enter="nextInput($event)"
          @focus="$event.target.select()"
          tabindex="18"
          type="text"
          v-model="product.final_price"
        />
      </td>
      <td>
        {{
          (product.final_price * product.col_vo)
            .toFixed(2)
            .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        }}
      </td>
      <template v-if="statusInclud()">
        <td>
          <select
            @change="
              product.purchase_price = product.purchase_price_list.filter(
                (item) => item.id_provider == $event.target.value
              )[0].purchase_price
            "
            v-model="product.provider"
          >
            <option
              v-for="item in product.providers"
              :key="item.id"
              :value="item.id"
            >
              {{ item.name }}
            </option>
          </select>
        </td>
        <td>
          <input
            type="text"
            tabindex="19"
            @focus="$event.target.select()"
            @keydown.prevent.enter="nextInput($event)"
            v-model="product.purchase_price"
          />
        </td>
        <td>
          {{
            (product.purchase_price * product.col_vo)
              .toFixed(2)
              .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
        </td>
      </template>
    </tr>
  </template>
  <template v-if="data.productList.accessories.length">
    <tr v-for="product in data.productList.accessories" :key="product.key">
      <td class="key" @click="removeProduct(product.key)">
        <span>{{ product.key }}</span>
        <img src="./../../assets/images/interface/close.png" alt="" />
      </td>
      <template v-if="statusInclud()">
        <td colspan="2" class="name">{{ product.product }}</td>
        <td>{{ product.col_vo }} <span v-html="product.ei"></span></td>
      </template>
      <template v-else>
        <td colspan="3" class="name">{{ product.product }}</td>

        <td>
          <input
            @keydown.prevent.enter="nextInput($event)"
            @focus="$event.target.select()"
            tabindex="17"
            type="text"
            v-model="product.col_vo"
          />
        </td>
        <td v-html="product.ei"></td>
        <td>{{ product.price }}</td>
      </template>

      <td>
        <input
          @keydown.prevent.enter="nextInput($event)"
          @focus="$event.target.select()"
          tabindex="18"
          type="text"
          v-model="product.final_price"
        />
      </td>
      <td>
        {{ (product.final_price * product.col_vo).toFixed(2) }}
      </td>
      <template v-if="statusInclud()">
        <td>
          <select
            @change="
              product.purchase_price = product.purchase_price_list.filter(
                (item) => item.id_provider == $event.target.value
              )[0].purchase_price
            "
            v-model="product.provider"
          >
            <option
              v-for="item in product.providers"
              :key="item.id"
              :value="item.id"
            >
              {{ item.name }}
            </option>
          </select>
        </td>
        <td>
          <input
            type="text"
            tabindex="19"
            @focus="$event.target.select()"
            @keydown.prevent.enter="nextInput($event)"
            v-model="product.purchase_price"
          />
        </td>
        <td>
          {{
            (product.purchase_price * product.col_vo)
              .toFixed(2)
              .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
        </td>
      </template>
    </tr>
  </template>
  <template v-if="data.productList.doorstep.length">
    <tr v-for="product in data.productList.doorstep" :key="product.key">
      <td class="key" @click="removeProduct(product.key)">
        <span>{{ product.key }}</span>
        <img src="./../../assets/images/interface/close.png" alt="" />
      </td>
      <template v-if="statusInclud()">
        <td colspan="2" class="name">{{ product.product }}</td>
        <td>{{ product.col_vo }} <span v-html="product.ei"></span></td>
      </template>
      <template v-else>
        <td colspan="3" class="name">{{ product.product }}</td>
        <td>
          <input
            @keydown.prevent.enter="nextInput($event)"
            @focus="$event.target.select()"
            type="text"
            tabindex="17"
            v-model="product.col_vo"
          />
        </td>
        <td v-html="product.ei"></td>
        <td>{{ product.price }}</td>
      </template>
      <td>
        <input
          @keydown.prevent.enter="nextInput($event)"
          @focus="$event.target.select()"
          tabindex="18"
          type="text"
          v-model="product.final_price"
        />
      </td>
      <td>
        {{
          (product.final_price * product.col_vo)
            .toFixed(2)
            .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        }}
      </td>
      <template v-if="statusInclud()">
        <td>
          <select
            @change="
              product.purchase_price = product.purchase_price_list.filter(
                (item) => item.id_provider == $event.target.value
              )[0].purchase_price
            "
            v-model="product.provider"
          >
            <option
              v-for="item in product.providers"
              :key="item.id"
              :value="item.id"
            >
              {{ item.name }}
            </option>
          </select>
        </td>
        <td>
          <input
            type="text"
            tabindex="19"
            @focus="$event.target.select()"
            @keydown.prevent.enter="nextInput($event)"
            v-model="product.purchase_price"
          />
        </td>
        <td>
          {{
            (product.purchase_price * product.col_vo)
              .toFixed(2)
              .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
        </td>
      </template>
    </tr>
  </template>
  <template v-if="data.productList.related.length">
    <tr v-for="product in data.productList.related" :key="product.key">
      <td class="key" @click="removeProduct(product.key)">
        <span>{{ product.key }}</span>
        <img src="./../../assets/images/interface/close.png" alt="" />
      </td>
      <template v-if="statusInclud()">
        <td colspan="2" class="name">{{ product.product }}</td>
        <td>{{ product.col_vo }} <span v-html="product.ei"></span></td>
      </template>
      <template v-else>
        <td colspan="3" class="name">{{ product.product }}</td>
        <td>
          <input
            @keydown.prevent.enter="nextInput($event)"
            @focus="$event.target.select()"
            type="text"
            tabindex="17"
            v-model="product.col_vo"
          />
        </td>
        <td v-html="product.ei"></td>
        <td>{{ product.price }}</td>
      </template>
      <td>
        <input
          @keydown.prevent.enter="nextInput($event)"
          @focus="$event.target.select()"
          @change="
            if (product.product == 'Доставка') {
              product.purchase_price = product.final_price;
            }
          "
          tabindex="18"
          type="text"
          v-model="product.final_price"
        />
      </td>
      <td>
        {{
          (product.final_price * product.col_vo)
            .toFixed(2)
            .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
        }}
      </td>
      <template v-if="statusInclud()">
        <td>
          <select
            @change="
              product.purchase_price = product.purchase_price_list.filter(
                (item) => item.id_provider == $event.target.value
              )[0].purchase_price
            "
            v-model="product.provider"
          >
            <option
              v-for="item in product.providers"
              :key="item.id"
              :value="item.id"
            >
              {{ item.name }}
            </option>
          </select>
        </td>
        <td>
          <input
            type="text"
            tabindex="19"
            @focus="$event.target.select()"
            @keydown.prevent.enter="nextInput($event)"
            v-model="product.purchase_price"
          />
        </td>
        <td>
          {{
            (product.purchase_price * product.col_vo)
              .toFixed(2)
              .replace(/\B(?=(\d{3})+(?!\d))/g, " ")
          }}
        </td>
      </template>
    </tr>
  </template>
  <tr class="product" id="append_tovar" v-if="!statusInclud()">
    <td>+</td>
    <td class="name" colspan="8">
      <div
        class="open_list open_modal_window"
        @click="
          $parent.prevCatalog = true;
          $parent.add = true;
          $parent.catalogMode = true;
        "
      >
        Добавить товар
      </div>

      <!-- <div
        class="open_list open_modal_window"
        @click="
          $parent.prevCatalog = true;
          $parent.add = true;
          $parent.catalogMode = false;
        "
      >
        Добавить товар со склада
      </div> -->
    </td>
  </tr>
  <tr class="product">
    <td></td>
    <template v-if="statusInclud()">
      <td colspan="2" class="name">Итог</td>
      <td id="itog">
        {{ data.square.replace(/\B(?=(\d{3})+(?!\d))/g, " ") }} м<sup
          >2</sup
        >
      </td>
      <td id="itog">
        {{ data.weight.replace(/\B(?=(\d{3})+(?!\d))/g, " ") }} кг
      </td>

      <td colspan="2" id="itog">
        Сумма:
        {{ data.sum.replace(/\B(?=(\d{3})+(?!\d))/g, " ") }} &#8381;
      </td>
      <td colspan="2" id="itog">
        Закуп:
        {{ data.purchase.replace(/\B(?=(\d{3})+(?!\d))/g, " ") }} &#8381;
      </td>
    </template>
    <template v-else>
      <td colspan="3" class="name">Итог</td>
      <td colspan="2" id="itog">
        Площадь:
        {{ data.square.replace(/\B(?=(\d{3})+(?!\d))/g, " ") }} м<sup
          >2</sup
        >
      </td>
      <td colspan="2" id="itog">
        Вес: {{ data.weight.replace(/\B(?=(\d{3})+(?!\d))/g, " ") }} кг
      </td>
      <td colspan="2" id="itog">
        Цена:
        {{ data.sum.replace(/\B(?=(\d{3})+(?!\d))/g, " ") }} &#8381;
      </td>
    </template>
  </tr>
</table>