.navigation {
    position: absolute;
    left: 0;
    top: 0;
    height: 96vh;
    padding: 2vh 0;
    border-right: 1px solid #000;
    width: 20%;
    .block-link {
        width: 95%;
        margin: 1vh 0 1vh auto;
        &.main {
            background-color: #ff6464;
        }
        a {
            display: block;
            padding: 10px;
            cursor: pointer;

            &.router-link-active {
                background-color: #858585;
                border-left: 5px solid;
            }
            &:hover {
                background-color: #ccc;
            }
        }
    }
}
.admin_page {
    position: absolute;
    left: 20%;
    overflow: auto;
    &#add {
        width: calc(80% - 80px);
        height: calc(100vh - 30px);
        top: 0;
        margin: 15px;
        padding: 0 10px 0 40px;
    }
    &#pricing {
        width: 80%;
    }
}
