.catalog_body {
  width: 95%;
  max-height: 90vh;
  left: 2.4%;
  top: 2.5vh;
  border: 2px solid;
  overflow: auto;
  position: fixed;
  background-color: #fff;
}
.product_type {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  margin: 0 0 5px;
  top: 0;
  z-index: 20;
  background-color: darkgrey;
  position: sticky;
  .close_box {
    margin-right: 0.5vw;
    width: 1.2vw;
    height: 1.2vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  ul {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      width: 10%;
      padding: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: darkgrey;
      cursor: pointer;
      user-select: none;
      &:first-child {
        margin: 0;
        &.selected {
          border-left: none;
        }
      }
      &.selected {
        background-color: #fff;
        border-left: 1px solid;
        border-right: 1px solid;
        &::after {
          display: block;
          content: "";
          position: absolute;
          height: 1px;
          bottom: -1px;
          left: -1px;
          width: calc(100% + 14px);
          background-color: #fff;
        }
      }
      a {
        display: block;
        text-decoration: none;
      }
    }
  }
}
.catalog_product {
  &_body {
    width: 100%;
    position: relative;
    min-height: calc(90vh - 5px);
    .sort {
      width: 18%;
      position: fixed;
      overflow: auto;
      background-color: #e7e7e7;
      height: calc(85vh - 5px);
    }
  }
  &_list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin: 0 0 0 auto;
    height: 82vh;
    overflow: auto;
    article {
      width: 18%;
      display: flex;
      height: calc(50% - 16px);
      margin: 2px;
      padding: 5px;
      border: 1px solid;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      &.mini {
        padding: 2vh 5px;
        height: calc(100% / 6 - 4vh - 6px);
      }
      img {
        display: block;
        width: 100%;
        height: 80%;
        object-fit: cover;
        border: 1px solid;
        margin: 0 auto;
      }
      h4 {
        margin: 5px;
        font-size: 0.9em;
      }
      button {
        display: block;
        width: 50%;
      }
    }
  }
}
.catalog_preview_product {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: auto;
  header {
    position: relative;
    button {
      width: 10vw;
      position: absolute;
      top: 7px;
      left: 7px;
    }
    h2 {
      text-align: center;
    }
  }
  .slider {
    width: 80%;
    margin: 0 auto;
    height: 45vh;
    overflow-x: auto;
    overflow-y: none;
    &_body {
      width: max-content;
      height: 99%;
      display: flex;
    }
    .item {
      height: 99%;
      width: 24.5vw;
      margin: 0 0.5vw;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .list {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
    display: flex;
    h5 {
      margin: 0.4em 0;
    }
    .column {
      width: 33.3%;
      .li {
        padding-left: 1.25em;
        span {
          &::after {
            content: ",";
          }
          &:last-child::after {
            content: "";
          }
        }
      }
    }
  }
  .recomendation {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    h2 {
      width: 100%;
      text-align: center;
      margin: 0.5em;
    }
    article {
      width: 30%;
      margin: 0.2em 2.5%;
      height: 30vh;
      border: 1px solid;
      img {
        display: block;
        width: 90%;
        height: 20vh;
        margin: 1em auto;
        object-fit: cover;
      }
      h4 {
        text-align: center;
      }
    }
  }
}

.warehouse_product_list {
  width: 80%;
  margin: 0 0 0 auto;
  height: 82vh;
  overflow: auto;
  table {
    width: 100%;
    border-collapse: collapse;
    * {
      border: 1px solid;
      text-align: center;
    }
  }
}
